.swiper-slide__title {
  font-family: var(--f-montserrat);
  color: var(--c-white);
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 80px;
  display: flex;
  align-items: center;
}

.swiper-slide__description {
  color: var(--c-white);
  font-family: var(--f-montserrat);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5.4px;
  display: flex;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--c-white);
}
