.introduction {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main-title {
    margin-top: 30px;
    margin-bottom: 145px;
  }

  &__container-leftside {
    display: flex;
    gap: 70px;
    position: relative;
    margin-bottom: 150px;
  }

  &__image {
    flex: 0 0 53.846154%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 40.17094%;
  }

  &__list-subtitle {
    margin-bottom: 5px;
  }

  &__list-title {
    margin-bottom: 20px;
  }

  &__list-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__location {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__address {
    color: var(--c-black);
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
  }

  &__container-rightside {
    display: flex;
    gap: 70px;
    position: relative;
    margin-bottom: 150px;
  }
}
