.button {
  border: 1px solid var(--c-blue-dark);
  transition: var(--t-normal);

  &:hover {
    background: var(--c-blue-dark);
    color: var(--c-white);
  }
}

.introduction__list-button {
  padding: 17px 41px;
  color: var(--c-black);
  font-family: var(--f-montserrat);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 60px;
}

.gallery__button {
  text-align: center;
  font-family: var(--f-montserrat);
  font-size: 14px;
  font-weight: 400;
  align-self: center;
  padding: 16px 57px;
  margin-bottom: 150px;
}

.form__button {
  padding: 12px 34px;
  color: var(--c-black);
  font-family: var(--f-montserrat);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  align-self: flex-end;
}
