.line {
  width: 100px;
  height: 1px;
  display: flex;
  flex-direction: column;
  align-self: center;

  &__blue {
    background: var(--c-blue-dark);
  }

  &__white {
    background: var(--c-white);
  }
}
