.line {
  width: 100px;
  height: 1px;
  display: flex;
  flex-direction: column;
  align-self: center;

  &__blue-introduction {
    margin-top: 100px;
    background: var(--c-blue-dark);
  }

  &__white-latest-news {
    margin-top: 120px;
    background: var(--c-white);
  }

  &__blue-gallery {
    margin-top: 150px;
    background: var(--c-blue-dark);
  }

  &__blue-form {
    margin-top: 60px;
    background: var(--c-blue-dark);
  }
}
