.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
